#!/bin/bash
echo "#### Iniciado user data ####"


cd /var/www/magento2

echo "#### Novo RDS endpoint: ${rds-endpoint}"

sudo -u www-data bin/magento setup:install \
  --base-url=${my-domain} \
  --db-host=${rds-endpoint} \
  --db-name=magentodb \
  --db-user=magentoadmin \
  --db-password=pass123456789 \
  --admin-firstname=bruno \
  --admin-lastname=ferreira \
  --admin-email=${admin-email} \
  --admin-user=magentouser \
  --admin-password=pass12345678 \
  --language=pt_BR \
  --currency=BRL \
  --timezone=America/Sao_Paulo \
  --use-rewrites=1 \
  --search-engine=opensearch \
  --opensearch-host=localhost \
  --opensearch-port=9200 \
  --opensearch-index-prefix=magento2 \
  --opensearch-timeout=15 2>&1 | sudo -u www-data tee magento_update_output.log

sudo -u www-data bash -c 'echo $(cat magento_install_output.log |
  grep "\[SUCCESS\]: Magento Admin URI:" |
  awk -F": " "{print \$3}" | sed "s#^/##") > update_admin_url_output.txt'

systemctl restart nginx
sudo -u www-data bin/magento cache:flush

# Informa fim do user data para autorizar Terraform a prosseguir instalação.
echo "### Finalizado user data ###"
touch /tmp/userdata_finished