#!/bin/bash
echo "#### Iniciado user data ####"

cd /var/www/magento2

# Remover arquivo env.php para evitar conflito na atualização
rm /var/www/magento2/app/etc/env.php

echo "#### Novo RDS endpoint: ${rds-1-endpoint}"

sudo -u www-data bin/magento setup:install \
  --base-url=http://${domain-base} \
  --db-host=${rds-1-endpoint} \
  --db-name=${rds-1-db-name} \
  --db-user=${rds-1-db-username} \
  --db-password=${rds-1-db-password} \
  --admin-firstname=${magento-admin-firstname} \
  --admin-lastname=${magento-admin-lastname} \
  --admin-email=${magento-admin-email} \
  --admin-user=${magento-admin-user} \
  --admin-password=${magento-admin-password} \
  --backend-frontname=lkj987 \
  --language=pt_BR \
  --currency=BRL \
  --timezone=America/Sao_Paulo \
  --use-rewrites=1 \
  --search-engine=opensearch \
  --opensearch-host=localhost \
  --opensearch-port=9200 \
  --opensearch-index-prefix=magento2 \
  --opensearch-timeout=15 \
  --remote-storage-driver=aws-s3 \
  --remote-storage-prefix=magento2 \
  --remote-storage-bucket=${static-files-bucket-name} \
  --remote-storage-region=us-east-1 \
  --remote-storage-path-style=1 2>&1 | sudo -u www-data tee magento_update_output.log

sudo -u www-data bin/magento config:set web/secure/base_url https://${domain-base}/
sudo -u www-data bin/magento config:set web/secure/base_link_url https://${domain-base}/
sudo -u www-data bin/magento config:set web/url/redirect_to_base 0

systemctl daemon-reload
systemctl restart nginx
sudo -u www-data bin/magento cache:flush

# Informa fim do user data para autorizar Terraform a prosseguir instalação.
echo "### Finalizado user data ###"
touch /tmp/userdata_finished