#!/bin/bash
echo "slaveof ${master-dns} 6379" | sudo tee -a /etc/redis/redis.conf
echo "masterauth ${redis-password}" | sudo tee -a /etc/redis/redis.conf
echo "sentinel monitor redis-cluster ${master-dns} 6379 2" | sudo tee -a /etc/redis/sentinel.conf
systemctl start redis-server
systemctl start redis-sentinel
