#!/bin/bash
echo "### Iniciado user data ###"

# Atualiza pacotes
apt-get update -y
apt-get upgrade -y

# Instala pré-requisitos
apt install nfs-common -y


# Informa fim do user data para autorizar Terraform a prosseguir instalação.
echo "### Finalizado user data ###"
touch /tmp/userdata_finished
