name: 0.3-Create All, up to Base EC2
on: workflow_dispatch
env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_CLI_ADMIN_KEY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_CLI_ADMIN_SECRET }}
  AWS_SSH_PUBLIC_KEY: ${{ secrets.AWS_DEV_CLI_ADMIN_SSH_PUBLIC_KEY }}

jobs:
  terraform_apply:
    name: Terraform Apply All
    runs-on: ubuntu-latest
    defaults:
      run: 
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Terraform Apply All
      run: |
        cd ./2-create-network
        terraform init
        terraform plan
        terraform apply -auto-approve
        cd ../3.1-create-database
        terraform init
        terraform plan
        terraform apply -auto-approve
        cd ../3.2-create-efs
        terraform init
        terraform plan
        terraform apply -auto-approve
        cd ../4-create-base-ec2
        terraform init
        terraform plan
        terraform apply -auto-approve